<?xml version="1.0" encoding="utf-8" ?>
<!-- /phpunit.xml.dist -->
<phpunit bootstrap="./vendor/autoload.php"
         stopOnFailure="false">
    <testsuites>
    	 <testsuite name="Ics Parser Test">
            <file>./tests/IcsParserTest.php</file>
        </testsuite>
        <testsuite name="Ics Merger Test">
            <file>./tests/IcsMergerTest.php</file>
        </testsuite>
    </testsuites>
</phpunit>